<head>
  <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
</head>
<div id="step1" class="form-volutario-global relative-form full-screen">
  <div>
    <section class="forms" id="form-voluntario-global" class='animated fadeIn'>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md">
            <section class="content" id="resultado">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md">
                    <div class="row justify-content-center">
                      <div class="col-md-12" id="header-resultado">
                        <h2 i18n='@@thanksForSubscribleText'>Obrigado por se increver!</h2>
                      </div>
                      <div class="col-md-12 grid-message mobile-message" id="grid-message">
                        <div class="col-md-10">
                          <h3 i18n='@@thanksForSubscribleMessage'>Fique ligado no seu e-mail que enviaremos informações úteis para você por lá.</h3>
                          <p i18n='@@registerResult'>
                            Agora que você criou a sua conta, você poderá acessar a nossa plataforma e começar a buscar por projetos de intercâmbio voluntário
                            na data e destino ideal para você! Fique atento ao seu e-mail onde enviaremos mais informações.
                          </p>
                        </div>
                        <div class="col-md-2">
                          <i class="fas fa-thumbs-up fa-10x color-icon"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="center-whatsapp-button">
              <button type="button" (click)="whatsappContact()" class="btn btn-primary whatsapp-button">
                <i class="fab fa-whatsapp" aria-hidden="true"></i> Contactanos por WhatsApp!
              </button>
            </section>

            <section>

              <div class='grid-card'>
                <div class='card-option' (click)="goToHome()">
                  <div class='photo-product back-to-home'></div>
                  <div class='card-content'>
                    <label>
                      <i class="fas fa-home"></i> Home
                    </label>
                    <h2 i18n='@@accessHomePage'>
                      Acessar a página inicial
                    </h2>
                  </div>
                </div>
                <div class='card-option' (click)="goToAiesec()">
                  <div class='photo-product go-to-portal'></div>
                  <div class='card-content'>
                    <label>
                      <i class="fas fa-briefcase"></i> Vagas
                    </label>
                    <h2 i18n="@@accesOpportunitiesPortal">
                      Acessar o portal de oportunidades
                    </h2>
                  </div>
                </div>
                <div class='card-option' (click)="goToBlog()">
                  <div class='photo-product go-to-blog'></div>
                  <div class='card-content'>
                    <label>
                      <i class="fab fa-blogger-b"></i> Blog
                    </label>
                    <h2 i18n="@@learnMoreAboutOurStories">
                      Conheça mais nossas histórias
                    </h2>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
