@import '../../scss/global.scss';

#contact {
    margin: 30px auto;
    padding: 45px 0 70px 0 !important;

    h3 {
        font-size: 33px;
        font-weight: 300;
        line-height: 45px;
        color: #31383D;
    }

    p {
        margin-top: 20px;
        color: #4A4A4A;
        font-family: Lato;
        font-size: 20px;
        font-style: italic;
        font-weight: 500;
        line-height: 24px;
    }

    .contact-container {
        width: 100%;
        padding: 20px 0 0 0;

        label {
            color: #9B9B9B;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            margin-bottom: 4px;
            display: block;
            width: 100%;
        }

        select {
            padding: 10px 15px;
            font-size: 16px;

            option {
                font-size: 16px;
                font-style: normal;
            }
        }

        .contact-details {
            margin-top: 30px;

            b {
                margin: 20px 0 15px 0;
                font-size: 18px;
                display: block;
            }

            p,
            span {
                font-size: 22px;
                font-weight: 500;
                font-style: normal;
                margin: 5px 0;
            }

            ul {
                margin: 10px 0 0 0;
                padding: 0;

                li {
                    color: #242121;
                    font-size: 12pt;
                    display: block;
                    margin: 5px 0 5px 0;

                    i {
                        padding-right: 10px;
                        color: $default;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {

    #contact {
        >div {
            h3 {
                text-align: center;
            }

            p {
                text-align: center;
            }

            .contact-container {
                display: flex;
                flex-direction: column;
            }
        }
    }
}