<head>
  <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
  <!-- BEGIN Podio web form -->
  <script src="https://podio.com/webforms/16323713/1096164.js"></script>
  <script type="text/javascript">
    _podioWebForm.render("1096164")
  </script>
  <noscript>
    <a href="https://podio.com/webforms/16323713/1096164" target="_blank">Please fill out the form</a>
  </noscript>
</head>
<div id="step1" class="form-talentos-globais"
  [ngClass]="{'full-screen': formedUser, 'full-screen-embedded': embeddedForm}">
  <div class="full-width">
    <!-- Header -->
    <section class="header" id="header-talentos-globais" #headerGTRef>
      <div class="container">
        <div class="row justify-content-center" *ngIf="!embeddedForm">
          <div class="col-sm text-center">
            <div class="logo-talentos-globais"></div>
          </div>
        </div>
        <div *ngIf="!completedSignup">
          <div class="row" *ngIf="!embeddedForm">
            <div class="col-sm">
              <h1 id='intro-text'>Conecte-se a uma rede global de jovens líderes! <br><br> Vem ser parte da AIESEC!</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="podio-webform-container">
      A webform by <a href="https://podio.com" class="podio-webform-inner" rel="nofollow">Podio</a>
      <iframe height="1050" src="https://podio.com/webforms/16323713/1096164" width="100%" style="
          border: 0;"></iframe>
    </div>
    <!-- END Podio web form -->
    <div class='loading-landing-page' *ngIf="loading">
      <div class="loading-animation loading-animation-membership"></div>
    </div>
  </div>
</div>
<div id='modal' class='animated fadeIn faster' *ngIf="modal">
  <div class='modal-bg' (click)='closeModal()'></div>
  <div class='close-modal-button' (click)='closeModal()'>
    <i class="fas fa-times-circle"></i>
  </div>
  <app-terms></app-terms>
</div>
