<main>
  <div class="goToTop" [ngx-scroll-to]="'#header-product'">
    <i class="fas fa-sort-up"></i>
  </div>

  <app-landing-page-menu></app-landing-page-menu>

  <section class="product-description margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="description col-lg-7 col-sm-12 col-md-12">
          <h2 class="bold">
            Visão geral do programa
          </h2>
          <p>
            O Talento Global é uma experiência internacional em empresas durante 3 a 12 meses em que o jovem tem a chance de viver o
            ambiente profissional e corporativo. As grandes áreas de atuação do Talento Global são: Professor(a) de idiomas/línguas,
            Tecnologia da Informação e áreas de Administração, como finanças, gestão, RH e marketing. Para o processo, é
            necessário alguns requisitos como:
            <b>inglês avançado</b> e experiência na área que quer atuar. Nessa experiência, o intercambista recebe uma
            <b>bolsa-auxílio</b> para cobrir os custos básicos durante o período de intercâmbio.
        </div>
        <div class="video-product gt col-lg-5 col-sm-12 col-md-12"></div>
      </div>
    </div>
  </section>

  <section id='subproducts' class='subproducts with-background gt padding-top-and-bottom'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <h1>
            Subprodutos
          </h1>
          <h2>
            Subprodutos que trabalhamos no Programa Talento Global
          </h2>
        </div>
      </div>
      <div class='row subproducts-wrapper'>
        <div class='col-lg-3 col-md-12 col-sm-12' *ngFor='let subproduct of subproducts, let i = index'>
          <div class='round icon-{{i+1}}'></div>
          <h3>
            {{ subproduct.title }}
          </h3>
          <p>
            {{ subproduct.description }}
          </p>
          <button class='button without-border with-background gt'>
            Inscreva-se
          </button>
        </div>
      </div>

      <div class='row subproducts-2-wrapper'>
          <div class='col-lg-3 col-md-12 col-sm-12' *ngFor='let subproduct of subproducts, let i = index'>
            <div class='header-content header-{{i+1}}'>
              <div class='round  icon-{{i+1}}'></div>
            </div>
            <!-- <div class='round icon-{{i+1}}'></div> -->
            <div class='content'>
                <h3>
                    {{ subproduct.title }}
                  </h3>
                  <p>
                    {{ subproduct.description }}
                  </p>
                  <button class='button without-border with-background gt'>
                    Inscreva-se
                  </button>
            </div>
          </div>
        </div>
    </div>
  </section>

  <section class='countries margin-top-and-bottom'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-4 col-md-12 col-sm-12 list-countries'>
          <h1>
            Países que recomendados
          </h1>
          <ul>
            <li *ngFor='let country of countries' [ngClass]='{"active": country.active }' (click)='seeCountryDetails(country)'>
              <i class='icon'>
                <img src='{{country.icon}}'>
              </i>
              {{ country.name }}
            </li>
          </ul>
        </div>
        <div class='col-lg-8 col-md-12 col-sm-12'>
          <div class='row'>
            <h1>
              <i class='icon'>
                <img src='{{country.icon}}'>
              </i>
              {{ country.name }}
            </h1>
            <div class='col-lg-12 col-md-12 col-sm-12 country-image'>
              <picture>
                <source srcset="{{country.imageWebp}}" type="image/webp">
                <source srcset="{{country.image}}" type="image/png">
                <source srcset="{{country.image}}" type="image/jpg">
                <img class="img-responsive" src="{{country.image}}">
              </picture>
            </div>
            <div class='col-lg-12 col-md-12 col-sm-12 without-padding '>
              <p>
                {{ country.description }}
              </p>
            </div>
            <div class='col-lg-12 col-md-12 col-sm-12 without-padding'>
              <button class='button with-background gt without-border'>
                Ver oportunidades
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Form gt -->
  <app-form-gt id="form"></app-form-gt>

  <section class="product-steps margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="product-image background-default col-lg-5 col-md-12 col-sm-12">
          <div class="round icon circle"></div>
        </div>
        <div class="product-steps-content col-lg-7 col-md-12 col-sm-12 ">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Contato com a AIESEC
              </h3>
              <p class="lighter">
                Se cadastre e a AIESEC mais próxima entrará em contato contigo para fazer uma consultoria e indicar vagas
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Fazer seu currículo
              </h3>
              <p class="lighter">
                É necessário preparar seu currículo em inglês para enviar para as vagas que você está se candidatando no site! Não se preocupe,
                estamos aqui para te ajudar!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Fazer entrevistas
              </h3>
              <p class="lighter">
                Após se aplicar nas vagas que se encaixam no seu perfil, você poderá ser chamado para algumas delas ao longo do processo
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Ser aprovado em uma vaga
              </h3>
              <p class="lighter">
                Após as entrevistas, você poderá ser selecionado em alguma dessas vagas, e mediante o pagamento da taxa administrativa da
                AIESEC, você fechar seu intercâmbio!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Viva a experiência
              </h3>
              <p class="lighter">
                Com o suporte da AIESEC você vai se preparar para o início de sua experiência de desenvolvimento de liderança e terá auxílio
                durante todo o período do intercâmbio.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button [ngx-scroll-to]="'#form'" class="with-background bold gt without-border centered">
                Inscreva-se já
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="faq padding-top-and-bottom with-background gt">
    <div class="container">
      <div class="row">
        <div class="faq-info col-lg-7 col-sm-12 col-md-12">
          <h2 class='bold'>
            FAQ - Dúvidas Frequentes
          </h2>
          <div class="row">
            <div class="col-sm-12">
              <h3 class='semibold'>
                Qual o perfil ideal para fazer um Talento Global?
              </h3>
              <p class='lighter italic'>
                Você pode ser Graduando, Pós-Graduando, Mestrando, recém formado ou formado há algum tempo para esse intercâmbio. O necessário é ter 18 a 30 anos, inglês avançado e experiência prévia em alguma dessas áreas: Professor de Idiomas, Gestão, Marketing ou Tecnologia da Informação.
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold'>
                Como será meu contato com a AIESEC durante o intercâmbio?
              </h3>
              <p class='lighter italic'>
                Ele será feito com frequência tanto pela AIESEC de destino quanto pela AIESEC de origem, combinado previamente por vocês.
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold'>
                Como é a questão do pagamento?
              </h3>
              <p class='lighter italic'>
                Você fará o processo todo sem custos, e só após ser aprovado em uma vaga que assinará o contrato com a AIESEC e pagará a
                taxa.
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold'>
                Preciso de seguro saúde para viajar?
              </h3>
              <p class='lighter italic'>
                Sim, o seguro saúde é obrigatório no seu intercâmbio com a AIESEC, para garantir seu bem-estar durante toda a viagem. Nós
                recomendamos o seguro Assistcard para nossos intercambistas, mas você pode contratar a seguradora que você
                preferir.
              </p>
            </div>
            <div class="col-sm-12">
              <button [ngx-scroll-to]="'#form'" class="centered without-border bold background-white gt">
                Fale conosco
              </button>
            </div>
          </div>
        </div>
        <div class="faq-image background-default col-lg-5 col-sm-12 col-md-12">
          <div class="round icon circle"></div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-landing-footer></app-landing-footer>