<main>
  <div class="goToTop" [ngx-scroll-to]="'#header-product'">
    <i class="fas fa-sort-up"></i>
  </div>

  <app-landing-page-menu></app-landing-page-menu>

  <section class="product-description margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="logo-product gt col-lg-5 col-sm-12 col-md-12"></div>
        <div class="description col-lg-7 col-sm-12 col-md-12">
          <h2 class="bold">
            Visão geral do programa
          </h2>
          <p>
            O Talento Global é uma experiência internacional em empresas durante 3 a 12 meses em que o jovem tem a chance de viver o
            ambiente profissional e corporativo. As grandes áreas de estágio do Talento Global são: Ensino de Idiomas, Tecnologia
            da Informação e áreas de Administração, como finanças, gestão, RH e marketing. Para o processo, é necessário
            alguns requisitos como: inglês avançado e experiência na área que quer atuar. Nessa experiência, o intercambista
            recebe uma bolsa-auxílio para cobrir os custos básicos durante o período de intercâmbio.
        </div>
      </div>
    </div>
  </section>

  <!-- Form gt -->
  <app-form-gt id="form"></app-form-gt>

  <section class="product-steps margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="product-image background-default col-lg-5 col-md-12 col-sm-12">
          <div class="round icon circle"></div>
        </div>
        <div class="product-steps-content col-lg-7 col-md-12 col-sm-12 ">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Cadastro
              </h3>
              <p class="lighter">
                Preencha seu cadastro e veja oportunidades no nosso site
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Abordado pela AIESEC
              </h3>
              <p class="lighter">
                A AIESEC mais próxima de você vai entrar em contato para tirar suas dúvidas e indicar vagas
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Fazer o CV em inglês
              </h3>
              <p class="lighter">
                É necessário preparar seu CV em inglês para apresentar para as empresas que você está se candidatando. Não se preocupe, estamos
                aqui para te ajudar!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Aplicar em vagas
              </h3>
              <p class="lighter">
                No site você pode se candidatar as diversas vagas que encaixam no seu perfil, a partir da consultoria feita com seu escritório
                da AIESEC
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Entrevistas para vagas que for selecionado
              </h3>
              <p class="lighter">
                Você vai passar por algumas entrevistas ao longo do processo para a vaga a qual você se candidatou
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Ser aprovado na vaga
              </h3>
              <p class="lighter">
                Depois das entrevistas, você será convidado a fechar o intercâmbio para a oportunidade que for aceito, mediante o pagamento
                de uma taxa administrativa
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Se preparar para o intercâmbio
              </h3>
              <p class="lighter">
                Com suporte da AIESEC você se prepara para viajar e fazer um projeto incrível
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Viver a experiência!
              </h3>
              <p class="lighter">
                Agora é só viajar e, com auxílio da AIESEC, viver uma experiência de liderança!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button [ngx-scroll-to]="'#form'" class="with-background bold gt without-border centered">
                Inscreva-se já
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="faq padding-top-and-bottom with-background gt">
    <div class="container">
      <div class="row">
        <div class="faq-info col-lg-7 col-sm-12 col-md-12">
          <h2 class='bold'>
            FAQ - Dúvidas Frequentes
          </h2>
          <div class="row">
            <div class="col-sm-12">
              <h3 class='semibold'>
                Como será meu contato com a AIESEC durante o intercâmbio?
              </h3>
              <p class='lighter italic'>
                Ele será feito com frequência tanto pela AIESEC de destino quanto pela AIESEC de origem, combinado previamente por vocês.
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold'>
                Como é a questão do pagamento?
              </h3>
              <p class='lighter italic'>
                Você fará o processo todo sem custos, e só após ser aprovado em uma vaga que assinará o contrato com a AIESEC e pagará a
                taxa.
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold'>
                Preciso de seguro saúde para viajar?
              </h3>
              <p class='lighter italic'>
                Sim, o seguro saúde é obrigatório no seu intercâmbio com a AIESEC, para garantir seu bem-estar durante toda a viagem. Nós
                recomendamos o seguro Assistcard para nossos intercambistas, mas você pode contratar a seguradora que você
                preferir.
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold'>
                Qual o perfil ideal para fazer um Talento Global?
              </h3>
              <p class='lighter italic'>
                Você não precisa ser estudante ou recém-formado para esse intercâmbio. O que é necessário é ter entre 18 e 30 anos, com inglês
                avançado e experiência prévia em alguma dessas áreas: Ensino de Línguas, Marketing, Tecnologia da Informação,
                Gestão.
              </p>
            </div>
            <div class="col-sm-12">
              <button [ngx-scroll-to]="'#form'" class="centered without-border bold background-white gt">
                Fale conosco
              </button>
            </div>
          </div>
        </div>
        <div class="faq-image background-default col-lg-5 col-sm-12 col-md-12">
          <div class="round icon circle"></div>
        </div>
      </div>
    </div>
  </section>
  <section class='know-aiesec margin-top-and-bottom'>
    <div class="container">
      <div class="row">
        <div class="aiesec-image background-default col-lg-5 col-sm-12 col-md-12">
          <div class="round icon circle"></div>
        </div>
        <div class="aiesec-info col-lg-7 col-sm-12 col-md-12">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gt"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Auxílio para achar sua vaga
              </h3>
              <p class="lighter lower">
                Ao se inscrever, um voluntário da AIESEC vai te auxiliar a achar a vaga certa para o seu perfil, tirar todas suas dúvidas
                e vai te colocar em contato com o escritório para onde você vai viajar
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gt"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Apoio logístico
              </h3>
              <p class="lighter lower">
                Antes e durante o intercâmbio, a AIESEC na sua cidade e no seu destino irão te auxiliar com a logística de transporte, acomodação
                e preparo para o seu projeto
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gt"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Descrição clara de trabalho
              </h3>
              <p class="lighter lower">
                Independente do tipo de intercâmbio, nossas oportunidades têm descrições claras do tipo de projeto que você vai participar,
                carga horária e as suas responsabilidades. Além disso, você pode conversar com a nossa equipe para esclarecer
                qualquer dúvida.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gt"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Experiência de Liderança
              </h3>
              <p class="lighter lower">
                Ao longo da sua experiência com a AIESEC, serão oferecidos diversos espaços para você refletir e aprimorar as habilidades
                desenvolvidas no seu intercâmbio, para que você possa retornar e trazer um impacto real para sua cidade.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button [ngx-scroll-to]="'#form'" class="border-radius centered without-border with-background default">
            Fale com um dos nossos representantes
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
<app-landing-footer></app-landing-footer>