<!-- partners -->
<section class="partners padding-top-and-bottom">
  <div class="partner-icon-hanshake"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="centered italic" i18n="@@ourPremiumPartners">Os nossos parceiros premium</h1>
        <div id="footer-carousel">
          <div class='swipe-animation' (mouseenter)="stopAnimation()" (mouseleave)="sliderAnimation()" (swiperight)="swipe('right')"
            (swipeleft)="swipe('left')" [style.touch-action]="'pan-y'"></div>
          <div class="buttons-carousel">
            <i (click)="moveLeft()" class="fas fa-chevron-left"></i>
          </div>
          <div class='footer-carousel-partners'>
            <div class="footer-carousel-wrapper">
              <div class="footer-each-item" [style.touch-action]="'pan-y'" *ngFor="let partner of partners" (click)="openUrl(partner.site)"
                (swiperight)="swipe('right')" (swipeleft)="swipe('left')" [ngStyle]="{'background-image':'url(' + partner.img + ')'}">
                <span class='animated fadeIn faster'> {{partner.title}} </span>
              </div>
            </div>
          </div>
          <div class="buttons-carousel">
            <i (click)="moveRight()" class="fas fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<footer class="padding-top-and-bottom with-background bg-footer">
  <div class="container">
    <div class="row">
      <div class="footer-logo">
        <picture>
          <source srcset="../../assets/images/aiesec-logo.png.webp" type="image/webp" class="img-responsive">
          <source srcset="../../assets/images/aiesec-logo.png" type="image/png" class="img-responsive">
          <img class="img-responsive" src="../../assets/images/aiesec-logo.png" width="200px;">
        </picture>
        <p class="centered semibold" i18n="@@footerText">Aventure-se nessa nova experiência e alcance o seu potencial!</p>
      </div>
    </div>
    <hr/>
    <div class="row bg-footer-group">
      <div class="footer-links col-md-6">
        <div class="row">
          <div class="footer-group-links col-md-4 col-sm-6">
            <p class="semibold footer-link-title" i18n="@@makeAnExchange">Faça um intercâmbio</p>
            <p>
              <a (click)="goToGv()" i18n='@@globalVolunteer'>Voluntário Global</a>
            </p>
            <p>
              <a (click)="goToGe()" i18n='@@globalEntrepreneur'>Empreendedor Global</a>
            </p>
            <p>
              <a (click)="goToGt()" i18n='@@globalTalent'>Talento Global</a>
            </p>
            <p>
              <a href="http://bit.ly/AIESECArgentinaCasasGlobales">Casas Globales</a>
            </p>
          </div>
          <div class="footer-group-links col-md-4 col-sm-6">
            <p class="semibold footer-link-title" i18n="@@becomeOurPartner">Seja nosso Parceiro</p>
            <p>
              <a href='https://blog.aiesecargentina.org/ongs/' i18n="@@ong">ONG</a>
            </p>
            <p>
              <a href="https://blog.aiesecargentina.org/startups-2/" i18n="@@companies">Empresas</a>
            </p>
          </div>
          <div class="footer-group-links col-md-4 col-sm-6 desktop">
            <p class="semibold footer-link-title desktop">
              <a href="http://bit.ly/AIESECArgentinaSumate">Sé miembro</a>
            </p>
            <p class="semibold footer-link-title mobile">
              <a href="http://bit.ly/AIESECArgentinaSumate">Sé miembro</a>
            </p>
          </div>
        </div>
      </div>
      <div class="footer-links col-md-6">
        <div class="row">
          <div class="footer-group-links col-md-4 col-sm-6">
            <p class="semibold footer-link-title">
              <a href="https://blog.aiesecargentina.org/blog/" i18n="@@blog">Blog</a>
            </p>
          </div>
          <div class="footer-group-links col-md-4 col-sm-6">
            <p class="semibold footer-link-title">
              <a href="https://blog.aiesecargentina.org/youth-speak/" i18n="@@youthSpeak">Youthspeak</a>
            </p>
          </div>
          <div class="footer-group-links col-md-4 col-sm-6">
            <p class="semibold footer-link-title">
              <a href="https://blog.aiesecargentina.org/contactanos/" i18n="@@contact">Contato</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p i18n="@@footerCopyright">AIESEC do Brasil 2018. Todos os direitos reservados.</p>
  </div>
</footer>