<header>
  <div class='banner' [ngClass]="{'gv': actualPage == 'voluntario-global', 'ge': actualPage == 'empreendedor-global', 'gt': actualPage == 'talento-global'}">
    <div class='circle' [ngClass]="{'gv': actualPage == 'voluntario-global', 'ge': actualPage == 'empreendedor-global', 'gt': actualPage == 'talento-global'}">
      <i class="fas fa-briefcase"></i>
    </div>
  </div>
  <h1>
    Subprodutos
  </h1>
  <p>
    Subprodutos que trabalhamos no Programa Talento Global.
  </p>
</header>
<section id='subproducts'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-sm-12 col-md-12 each-subproduct' *ngFor='let subproduct of subproducts'>
        <div class='icon col-12'>
          <img src='{{subproduct.icon}}'>
        </div>
        <div class='col-12'>
          <h3>
            {{ subproduct.name }}
          </h3>
          <p>
            {{ subproduct.description }}
          </p>
          <a href='{{subproduct.link}}' [ngClass]="{'gv': actualPage == 'voluntario-global', 'ge': actualPage == 'empreendedor-global', 'gt': actualPage == 'talento-global'}" target="_blank"> Inscreva-se </a>
        </div>
      </div>
    </div>
  </div>