<section class="header-product" id="header-product">
    <div class="header-product-image {{actualPage}}"></div>
    <div class="container">
      <div class="row header-menu">
        <div class="logo-aiesec col-sm-3"></div>
        <div class="menu-product col-sm-9">
            <div class="responsive-menu">
              <div class='menu-icon' (click)="toggleResponsiveMenu()">
                <i class="fas fa-bars"></i>
              </div>
              <ul id="menu">
                <li>
                  Para jovens
                  <ul class="animated fadeIn faster">
                    <li routerLink="/landing-page-gv">
                      Voluntário Global
                    </li>
                    <li routerLink="/landing-page-ge">
                      Empreendedor Global
                    </li>
                    <li routerLink="/landing-page-gt">
                      Talento Global
                    </li>
                    <a href="http://aiesec.org.br/hospede-um-intercambista/">
                      <li>
                        Hospede um intercambista
                      </li>
                    </a>
                  </ul>
                </li>
                <li>
                  Para organizações
                  <ul class="animated fadeIn faster">
                    <a href="http://aiesec.org.br/seja-parceiro/ong/">
                      <li>
                        ONG
                      </li>
                    </a>
                    <a href="http://aiesec.org.br/seja-parceiro/empresas/">
                      <li>
                        Empresas
                      </li>
                    </a>
                  </ul>
                </li>
                <a href="http://aiesec.org.br/youthspeak/">
                  <li>
                    Youthspeak
                  </li>
                </a>
                <li>
                  Blog
                  <ul class="animated fadeIn faster">
                    <a href="http://business.aiesec.org.br/">
                      <li>
                        Business
                      </li>
                    </a>
                    <a href="http://aiesec.org.br/blog/estudantes/">
                      <li>
                        Estudantes
                      </li>
                    </a>
                  </ul>
                </li>
                <a href="http://aiesec.org.br/cipassagensaereas/">
                  <li>
                    Passagens Aéreas
                  </li>
                </a>
                <a href="http://aiesec.org.br/contato/">
                  <li>
                    Contato
                  </li>
                </a>
              </ul>
  
              <ul *ngIf="responsiveMenu" class='active-responsive-menu animated fadeIn faster'>
                <li>
                  <span>Para jovens</span>
                  <ul class="animated fadeIn faster">
                    <li routerLink="/landing-page-gv">
                      Voluntário Global
                    </li>
                    <li  routerLink="/landing-page-ge">
                      Empreendedor Global
                    </li>
                    <li  routerLink="/landing-page-gt">
                      Talento Global
                    </li>
                    <a href="http://aiesec.org.br/hospede-um-intercambista/">
                      <li>
                        Hospede um intercambista
                      </li>
                    </a>
                  </ul>
                </li>
                <li>
                  <span>Para organizações</span>
                  <ul class="animated fadeIn faster">
                    <a href="http://aiesec.org.br/seja-parceiro/ong/">
                      <li>
                        ONG
                      </li>
                    </a>
                    <a href="http://aiesec.org.br/seja-parceiro/empresas/">
                      <li>
                        Empresas
                      </li>
                    </a>
                  </ul>
                </li>
                <a href="http://aiesec.org.br/youthspeak/">
                  <li>
                    <span>Youthspeak</span>
                  </li>
                </a>
                <li>
                  <span>Blog</span>
                  <ul class="animated fadeIn faster">
                    <a href="http://business.aiesec.org.br/">
                      <li>
                        Business
                      </li>
                    </a>
                    <a href="http://aiesec.org.br/blog/estudantes/">
                      <li>
                        Estudantes
                      </li>
                    </a>
                  </ul>
                </li>
                <a href="http://aiesec.org.br/cipassagensaereas/">
                  <li>
                    Passagens Aéreas
                  </li>
                </a>
                <a href="http://aiesec.org.br/contato/">
                  <li>
                    <span>Contato</span>
                  </li>
                </a>
              </ul>
            </div>
          </div>
      </div>
      <div class="product-info" *ngIf="actualPage == 'landing-page-gt'">
        <h1 class='color-white bold'>
          Talento Global
        </h1>
        <h2 class='color-white'>
          Descubra
          <b>seu verdadeiro talento.</b>
        </h2>
      </div>
      <div class="product-info" *ngIf="actualPage == 'landing-page-ge'">
          <h1 class='color-white bold'>
            Empresário Global
          </h1>
          <h2 class='color-white'>
            Empreendedorismo é 
            <b>encontrar sua paixão.</b>
          </h2>
        </div>
        <div class="product-info" *ngIf="actualPage == 'landing-page-gv'">
            <h1 class='color-white bold'>
              Voluntário Global
            </h1>
            <h2 class='color-white'>
              Voluntário para
              <b>as pessoas.</b>
            </h2>
          </div>
    </div>
  </section>