@import '../../scss/global.scss';

#bg-menu {
    width: 100%;
    height: 100%;
    background-color: #037ff3;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    &.mobile {
        display: none;
    }
}

#fixedMenu {
    transition: .3s;
    *:not(.fas, .menu-icon) {
        text-transform: uppercase !important;
        font-weight: 300;
        font-size: 14px;
    }
    i {
        font-weight: bold;
        margin: 10px 0;
        font-size: 25px;
    }
}

ul#menu {

    align-items: center;
    justify-content: space-between !important;
    width: 100%;
    justify-content: center;

    >li{
        display: flex;
        align-items: center;
    }
    >a {
        display: flex;
        align-items: center;
    }

    a.aiesec-search>li:hover {
        color: #007bff;
    }

    a.aiesec-search {
        height: 40px;
        margin-left: 5px;
        padding: 5px;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 5px;
        justify-content: flex-end;
    }
}

#fixedMenu.fixedMenu {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: $default;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-product {
        height: 50px;
        padding: 0;
        margin: 0 0 0 -20px
    }

    .logo-aiesec {
        margin: 0;
        max-width: 300px;
    }

    ul#menu {
        margin-bottom: 0;
    }

    .responsive-menu ul#menu li {
        ul.animated {
            background-color: $default;
            border-radius: 0 0 10px 10px;
        }
    }
}

/*IE9*/

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background-color: transparent;
}

* {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#header-product .container {
    z-index: 10;
    position: relative;
    width: 95%;
    max-width: -webkit-fill-available;
    height: 100%;
    .product-info {
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 60vh;
        display: flex;
        .product-logo {
            width: 40%;
            height: 300px;
            padding: 10px;
            position: absolute;
            bottom: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center left;
            background-image: url(../../assets/products/host/logo_larglobal.png);
        }
    }
}

.header-product {
    width: 100%;
    position: relative;
    border-bottom: 3px solid #666;
    z-index: 11;

    .bg-header {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(255,200,69, .4);
    }

    .header-product-image {
        @at-root :host-context(.no-webp) #{&} {
            background-image: url('../../assets/images/header.jpg');
        }

        @at-root :host-context(.webp) #{&} {
            background-image: url('../../assets/images/header.jpg.webp');
        }

        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -10;
        z-index: 5;

        &.with-filter {
            filter: brightness(35%);
        }

        &.talento-global {
            @at-root :host-context(.no-webp) #{&} {
                background-image: url('../../assets/products/gt/gt-intro.jpg');
            }

            @at-root :host-context(.webp) #{&} {
                background-image: url('../../assets/products/gt/gt-intro.jpg.webp');
            }
        }

        &.voluntario-global {
            @at-root :host-context(.no-webp) #{&} {
                background-image: url('../../assets/products/gv/gv-intro.jpg');
            }

            @at-root :host-context(.webp) #{&} {
                background-image: url('../../assets/products/gv/gv-intro.jpg.webp');
            }
        }

        &.empreendedor-global {
            @at-root :host-context(.no-webp) #{&} {
                background-image: url('../../assets/products/ge/ge-intro.jpg');
            }

            @at-root :host-context(.webp) #{&} {
                background-image: url('../../assets/products/ge/ge-intro.jpg.webp');
            }
        }
        &.hospede-um-intercambista{
            @at-root :host-context(.no-webp) #{&} {
                background-image: url('../../assets/products/host/host.jpg');
            }
            @at-root :host-context(.webp) #{&} {
                background-image: url('../../assets/products/host/host.webp');
            }
        }
    }

    .header-menu {
        display: flex;
        justify-content: space-between;
        height: 74px;
        padding: 0 50px;

        .logo-aiesec,
        .logo-menu {
            @at-root :host-context(.no-webp) #{&} {
                background-image: url('../../assets/images/aiesec-logo.png');
            }

            @at-root :host-context(.webp) #{&} {
                background-image: url('../../assets/images/aiesec-logo.png.webp');
            }

            background-size: 90%;
            background-position: center left;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .logo-aiesec {
            height: 45px;
            margin: 20px 0;
            min-height: 45px;
        }

        .logo-menu {
            width: 60%;
            height: 75px;
            display: table;
            margin: 10px auto;
        }

        .menu-product {
            margin-left: -20px;
            ul {
                padding: 0;
                display: flex;
                list-style: none;
                a:hover {
                    text-decoration: none;
                    color: #037ef3 ;
                    background-color: rgba(255, 255, 255, 0.9);
                }

                li {
                    font-size: 15px;
                    padding: 15px .5em;
                    margin: 0;
                    color: #fff;
                    font-family: 'Lato', sans-serif;
                    font-weight: bold;
                    position: relative;
                    cursor: pointer;
                    white-space: nowrap;

                    &:hover ul {
                        display: block;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    ul {
                        margin-top: 5px;
                        border-radius: 5px;
                        position: absolute;
                        flex-direction: column;
                        background-color: rgba(255, 255, 255, .5);
                        min-width: 175px;
                        display: none;
                        left: 0;
                        top: 40px;
                        padding-bottom: 10px;
                        a:hover {
                            text-decoration: none;
                            color: #fff;
                        }
                        li {
                            padding: 5px 10px;
                            text-align: left;
                            text-transform: none;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

    .product-info {
        text-align: left;
    }
}

@media (min-width: 990px) and (max-width: 1100px) {
    #header-product .container {
        ul#menu {
            li {
                font-size: 11px;
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 990px) {
    .header-product div.responsive-menu ul#menu {
        display: none !important;
    }

    .header-product div.responsive-menu .menu-icon {
        display: block;
        position: fixed;
        right: 35px;
        top: 15px;
        color: $default;
        z-index: 100;
        font-size: 25px;

        .fa-times, .fa-bars {
            color: #fff;
            z-index: 51
        }
    }

    #active-responsive-menu {
        color: #fff;
        flex-direction: column;
        position: fixed;
        top: 0;
        background-color: $default;
        z-index: 50;
        left: 0;
        height: 100vh;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 2.5vh 3%;
        justify-content: flex-start;
        overflow: auto;

        >a,
        >li {
            margin: 10px 0;
        }

        >a li {
            margin-left: 0;
        }

        li {
            padding: 0 !important;
            text-align: left !important;
        }

        span {
            font-weight: bold;
            text-align: left;
            font-size: 18px !important;
            padding-top: 10px !important;
            display: block;
        }

        li ul {
            display: flex !important;
            position: relative !important;
            background-color: transparent !important;

            li {
                font-size: 18px;
                padding: 15px 0px !important;
            }
        }
    }

    #fixedMenu.fixedMenu .logo-aiesec {
        margin: 15px 0;
    }
}

@media (min-width:990px) {

    .menu-icon,
    .active-responsive-menu {
        display: none !important;
    }
}

@media only screen and (min-width: 1280px) {
    ul#menu {
        li ul {
            li {
                padding: 0 inherit 0 inherit;
            }
        }
    }

    div.responsive-menu {
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1440px) {
    ul#menu {

        >a li,
        >li {
            font-size: 1em;
        }
    }
}

a.no-hover:hover {
    background-color: currentColor !important;
}

@media (max-width: 1023px){
    #active-responsive-menu {
        li ul {
            top: 0;
            padding: 0;
        }
    }
}