<div id="bg-menu" class="mobile" (click)="toggleResponsiveMenu()" class="animated fadeIn faster" *ngIf="responsiveMenu"></div>
<section class="header-product" id="header-product">
  <div class="header-product-image {{actualPage}}"></div>
  <div class="container">
    <div class="row header-menu" id="fixedMenu">
      <div class="col-sm-3" (click)="returnHome()">
        <div class='logo-aiesec'></div>
      </div>
      <div class="menu-product col-sm-9">
        <div class="responsive-menu">
          <div class='menu-icon' (click)="toggleResponsiveMenu()">
            <i *ngIf="!responsiveMenu" class="fas fa-bars"></i>
            <i *ngIf="responsiveMenu" class="fas fa-times"></i>
          </div>
          <ul id="menu">
            <li>
              <span i18n="@@makeAnExchange">Faça um intercâmbio </span>
              <i class="fas fa-chevron-down"></i>
              <ul class="animated fadeIn faster ul-products">
                <li (click)="goToGv()" i18n="@@globalVolunteer">
                  Voluntário Global
                </li>
                <li (click)="goToGe()" i18n="@@globalEntrepreneur">
                  Empreendedor Global
                </li>
                <li (click)="goToGt()" i18n="@@globalTalent">
                  Talento Global
                </li>
                <a href="http://bit.ly/AIESECArgentinaCasasGlobales">
                  <li>
                    Casas Globales
                  </li>
                </a>
              </ul>
            </li>
            <li>
              <span i18n="@@becomeOurPartner">Seja nosso Parceiro </span>
              <i class="fas fa-angle-down"></i>
              <ul class="animated fadeIn faster ul-partners">
                <a href="https://blog.aiesecargentina.org/ongs/">
                  <li i18n="@@ong">
                    ONG
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/startups-2/">
                  <li i18n="@@companies">
                    Empresas
                  </li>
                </a>
              </ul>
            </li>
            <a href="http://bit.ly/AIESECArgentinaSumate">
              <li>
                <span>Sé Miembro</span>
              </li>
            </a>
            <li>
              <span>Blog </span>
              <i class="fas fa-chevron-down"></i>
              <ul class="animated fadeIn faster ul-blog">
                <a href="https://blog.aiesecargentina.org/voluntarios-en-el-exterior/">
                  <li>
                    Voluntarios en el exterior
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/historias-de-emprendedores/">
                  <li>
                    Historias de Emprendedores
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/historias-de-liderazgo/">
                  <li>
                    Historias de liderazgo
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/historias-de-casas-globales/">
                  <li>
                    Historias de Casas Globales
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/propositoymotivacion/">
                  <li>
                    Propósito y Motivación
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/educacion/">
                  <li>
                    Educación
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/blog/talento-por-el-mundo/">
                  <li>
                    Talento por el mundo
                  </li>
                </a>
              </ul>
            </li>
            <a href="https://blog.aiesecargentina.org/youth-speak/">
              <li i18n="@@youthspeak">
                Youthspeak
              </li>
            </a>
            <a href="https://blog.aiesecargentina.org/contactanos/">
              <li i18n="@@contact">
                Contato
              </li>
            </a>
          </ul>

          <ul *ngIf="responsiveMenu" class='active-responsive-menu animated fadeIn faster' id="active-responsive-menu" (click)="toggleResponsiveMenu()">
            <div class="logo-menu" routerLink="/"></div>
            <li>
              <span i18n="@@makeAnExchange">Faça um intercâmbio</span>
              <ul class="animated fadeIn faster">
                <li (click)="goToGv()" [ngx-scroll-to]="'#header-product'" i18n="@@globalVolunteer">
                  Voluntário Global
                </li>
                <li (click)="goToGe()" [ngx-scroll-to]="'#header-product'" i18n="@@globalEntrepreneur">
                  Empreendedor Global
                </li>
                <li (click)="goToGt()" [ngx-scroll-to]="'#header-product'" i18n="@@globalTalent">
                  Talento Global
                </li>
                <a href="http://bit.ly/AIESECArgentinaCasasGlobales">
                  <li>
                    Casas Globales
                  </li>
                </a>
              </ul>
            </li>
            <li>
              <span i18n="@@becomeOurPartner">Seja nosso Parceiro</span>
              <ul class="animated fadeIn faster">
                <a href="https://blog.aiesecargentina.org/ongs/">
                  <li i18n="@@ong">
                    ONG
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/startups-2/">
                  <li i18n="@@companies">
                    Empresas
                  </li>
                </a>
              </ul>
            </li>
            <a href="http://bit.ly/AIESECArgentinaSumate">
              <li>
                <span>Sé Miembro</span>
              </li>
            </a>
            <li>
              <span>Blog</span>
              <ul class="animated fadeIn faster">
                <a href="https://blog.aiesecargentina.org/voluntarios-en-el-exterior/">
                  <li>
                    Voluntarios en el exterior
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/historias-de-emprendedores/">
                  <li>
                    Historias de Emprendedores
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/historias-de-liderazgo/">
                  <li>
                    Historias de liderazgo
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/historias-de-casas-globales/">
                  <li>
                    Historias de Casas Globales
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/propositoymotivacion/">
                  <li>
                    Propósito y Motivación
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/educacion/">
                  <li>
                    Educación
                  </li>
                </a>
                <a href="https://blog.aiesecargentina.org/blog/talento-por-el-mundo/">
                  <li>
                    Talento por el mundo
                  </li>
                </a>
              </ul>
            </li>
            <a href="https://blog.aiesecargentina.org/youth-speak/">
              <li>
                <span i18n="@@youthspeak">Youthspeak</span>
              </li>
            </a>
            <a href="https://blog.aiesecargentina.org/contactanos/">
              <li>
                <span i18n="@@contact">Contato</span>
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="product-info" *ngIf="actualPage == 'talento-global'">
      <h1 class='color-white bold' i18n="@@landingGtTitle">
        Talento Global
      </h1>
      <h2 class='color-white' i18n="@@landingGtDescription">
        Descubra
        <b>seu verdadeiro talento.</b>
      </h2>
      <button class='button with-background bold gt without-border border-radius margin' (click)='scrollToForm()'> Inscribite </button>
    </div>
    <div class="product-info" *ngIf="actualPage == 'emprendedor-global'">
      <h1 class='color-white bold' i18n="@@landingGeTitle">
        Empreendedor Global
      </h1>
      <h2 class='color-white' i18n="@@landingGeDescription">
        Empreendedorismo é
        <b>encontrar sua paixão.</b>
      </h2>
      <button class='button with-background bold ge without-border border-radius margin' (click)='scrollToForm()'> Inscribite </button>
    </div>
    <div class="product-info" *ngIf="actualPage == 'voluntario-global'">
      <h1 class='color-white bold' i18n="@@landingGvTitle">
        Voluntário Global
      </h1>
      <h2 class='color-white' i18n="@@landingGvDescription">
        Voluntário para
        <b>as pessoas.</b>
      </h2>
      <button class='button with-background bold gv without-border border-radius margin' (click)='scrollToForm()'> Inscribite </button>
    </div>
    <div class="product-info" *ngIf="actualPage == ''">
      <h1 class='color-white bold intro' i18n="@@landingPageIntro">
        A AIESEC é o maior movimento de liderança jovem do mundo
      </h1>
    </div>
  </div>
</section>