<div id="bg-menu" class="mobile" (click)="toggleResponsiveMenu()" class="animated fadeIn faster" *ngIf="responsiveMenu"></div>
<section class="header-product" id="header-product">
  <div class="header-product-image {{actualPage}}"></div>
  <div class="container">
    <div class="row header-menu">
      <div class="logo-aiesec col-sm-3" (click)="returnHome()"></div>
      <div class="menu-product col-sm-9">
        <div class="responsive-menu">
          <div class='menu-icon' (click)="toggleResponsiveMenu()">
            <i *ngIf="!responsiveMenu" class="fas fa-bars"></i>
            <i *ngIf="responsiveMenu" class="fas fa-times"></i>
          </div>
          <ul id="menu">
            <li>
              Faça um intercâmbio
              <ul class="animated fadeIn faster">
                <li routerLink="/landing-page-gv">
                  Voluntário Global
                </li>
                <li routerLink="/landing-page-ge">
                  Empreendedor Global
                </li>
                <li routerLink="/landing-page-gt">
                  Talento Global
                </li>
                <a href="http://blog.aiesec.org.br/hospede-um-intercambista/">
                  <li>
                    Hospede um intercambista
                  </li>
                </a>
              </ul>
            </li>
            <li>
              Seja nosso Parceiro
              <ul class="animated fadeIn faster">
                <a href="http://blog.aiesec.org.br/seja-parceiro/ong/">
                  <li>
                    ONG
                  </li>
                </a>
                <a href="http://blog.aiesec.org.br/seja-parceiro/empresas/">
                  <li>
                    Empresas
                  </li>
                </a>
              </ul>
            </li>
            <a href="http://blog.aiesec.org.br/youthspeak/">
              <li>
                Youthspeak
              </li>
            </a>
            <li>
              Blog
              <ul class="animated fadeIn faster">
                <a href="http://business.aiesec.org.br/">
                  <li>
                    Business
                  </li>
                </a>
                <a href="http://aiesec.blog.br/">
                  <li>
                    Estudantes
                  </li>
                </a>
              </ul>
            </li>
            <li>
              Planeje sua viagem
              <ul class="animated fadeIn faster">
                <a href="http://blog.aiesec.org.br/cipassagensaereas/">
                  <li>
                    Passagens Aéreas
                  </li>
                </a>
                <a href="https://www.assistcard.com/br/b2c/aiesec-br">
                  <li>
                    Seguro Saúde
                  </li>
                </a>
              </ul>
            </li>
            <a href="http://blog.aiesec.org.br/contato/">
              <li>
                Contato
              </li>
            </a>
          </ul>

          <ul *ngIf="responsiveMenu" class='active-responsive-menu animated fadeIn faster' id="active-responsive-menu" (click)="toggleResponsiveMenu()">
            <div class="logo-menu" routerLink="/landing-page"></div>
            <li>
              <span>Faça um intercâmbio</span>
              <ul class="animated fadeIn faster">
                <li routerLink="/landing-page-gv" [ngx-scroll-to]="'#header-product'">
                  Voluntário Global
                </li>
                <li routerLink="/landing-page-ge" [ngx-scroll-to]="'#header-product'">
                  Empreendedor Global
                </li>
                <li routerLink="/landing-page-gt" [ngx-scroll-to]="'#header-product'">
                  Talento Global
                </li>
                <a href="http://blog.aiesec.org.br/hospede-um-intercambista/">
                  <li>
                    Hospede um intercambista
                  </li>
                </a>
              </ul>
            </li>
            <li>
              <span>Seja nosso Parceiro</span>
              <ul class="animated fadeIn faster">
                <a href="http://blog.aiesec.org.br/seja-parceiro/ong/">
                  <li>
                    ONG
                  </li>
                </a>
                <a href="http://blog.aiesec.org.br/seja-parceiro/empresas/">
                  <li>
                    Empresas
                  </li>
                </a>
              </ul>
            </li>
            <a href="http://blog.aiesec.org.br/youthspeak/">
              <li>
                <span>Youthspeak</span>
              </li>
            </a>
            <li>
              <span>Blog</span>
              <ul class="animated fadeIn faster">
                <a href="http://business.aiesec.org.br/">
                  <li>
                    Business
                  </li>
                </a>
                <a href="http://aiesec.blog.br/">
                  <li>
                    Estudantes
                  </li>
                </a>
              </ul>
            </li>
            <li>
              <span>Planeje sua viagem</span>
              <ul class="animated fadeIn faster">
                <a href="http://blog.aiesec.org.br/cipassagensaereas/">
                  <li>
                    Passagens Aéreas
                  </li>
                </a>
                <a href="https://www.assistcard.com/br/b2c/aiesec-br">
                  <li>
                    Seguro Saúde
                  </li>
                </a>
              </ul>
            </li>
            <a href="http://blog.aiesec.org.br/contato/">
              <li>
                <span>Contato</span>
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="product-info" *ngIf="actualPage == 'landing-page-gt'">
      <h1 class='color-white bold'>
        Talento Global
      </h1>
      <h2 class='color-white'>
        Descubra
        <b>seu verdadeiro talento.</b>
      </h2>
    </div>
    <div class="product-info" *ngIf="actualPage == 'landing-page-ge'">
      <h1 class='color-white bold'>
        Empreendedor Global
      </h1>
      <h2 class='color-white'>
        Empreendedorismo é
        <b>encontrar sua paixão.</b>
      </h2>
    </div>
    <div class="product-info" *ngIf="actualPage == 'landing-page-gv'">
      <h1 class='color-white bold'>
        Voluntário Global
      </h1>
      <h2 class='color-white'>
        Voluntário para
        <b>as pessoas.</b>
      </h2>
    </div>
    <div class="product-info" *ngIf="actualPage == 'landing-page'">
      <h1 class='color-white bold intro'>
        A AIESEC é o maior movimento de liderança jovem do mundo
      </h1>
      <h2 class='color-white intro'>
        Acreditamos no intercâmbio como ferramenta para desenvolver uma liderança sustentável.
      </h2>
      <button (click)="scrollToGlobal()" class="button border border-white without-background color-white uppercase margin">
        Conheça nossos intercâmbios
      </button>
    </div>
  </div>
</section>