<router-outlet (activate)="changeOfRoutes()"></router-outlet>
<div id='content-snackbar' class='animated faster' [ngClass]="{fadeIn: cookies_policy, fadeOut: !cookies_policy}">
  <div id="snackbar">
  	<div class="row">
  		<div class="col-md-12 title">
  			<p>TU PRIVACIDAD ES MUY IMPORTANTE PARA NOSOTROS</p>
  		</div>
  	</div>
    <div class="row">
    	<div class="col-md-9 message">
    		<p>Utilizamos cookies propias y de terceros para mejotar nuestros servicios. sí seguís navegando en nuestro sitio consideramos que aceptas su uso.
    		<a href="../../assets/politica_cookies_esar.pdf" target="_blank">
		      <u>Ver más</u>
		    </a>
		    </p>
    	</div>    	
    	<div class="col-md-3 arg-btn-container arg-btn-container">
    		<button type="button" (click)="hideSnackBar()" class="btn btn-outline-light arg-btn">ACEPTO</button>
    	</div>
    </div>
  </div>
</div>