<head>
	<link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
	<!-- Facebook Pixel Code -->
	<script>
		fbq('init', '635983890160770');
		fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" src="https://www.facebook.com/tr?id=635983890160770&ev=PageView
	&noscript=1" />
	</noscript>
</head>
<div id="step1" class="full-screen">
	<div>
		<section class="forms" class='animated fadeIn'>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md">
						<section class="content" id="resultado">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-lg-11 col-md-12 col-sm-12">
										<div class="row justify-content-center">
											<div class="col-md-12" id="header-resultado">
												<h2>Obrigado por se inscrever!</h2>
											</div>
											<div class="col-md-12 grid-message mobile-message" id="grid-message">
												<div class="col-md-12 col-sm-12">
													<h3>Fique ligado no seu e-mail que enviaremos informações úteis para você por lá.</h3>
													<i class="fas fa-thumbs-up fa-10x color-icon"></i>
													<button type='button' (click)='redirectToHome()' class='btn btn-light'> Retornar à página principal </button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>