<main>
  <div class="goToTop" [ngx-scroll-to]="'#header-product'">
    <i class="fas fa-sort-up"></i>
  </div>

  <app-landing-page-menu></app-landing-page-menu>

  <section class="product-description margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="logo-product gv col-lg-5 col-sm-12 col-md-12"></div>
        <div class="description col-lg-7 col-sm-12 col-md-12">
          <h2 class="bold">
            Visão geral do programa
          </h2>
          <p>
            O Voluntário Global é uma experiência voluntária em ONGs de diversos países. Todos os projetos são vinculados aos Objetivos
            Desenvolvimento Sustentável das Nações Unidas e têm impacto real nas comunidades onde são realizados. Os projetos
            duram a partir de 6 semanas e o único requisito é a vontade de deixar sua marca no mundo!
        </div>
      </div>
    </div>
  </section>
  <!-- Step -->
  <app-form-gv id="form"></app-form-gv>

  <section class="product-steps margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="product-image background-default col-lg-5 col-md-12 col-sm-12">
          <div class="round icon circle"></div>
        </div>
        <div class="product-steps-content col-lg-7 col-md-12 col-sm-12 ">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Cadastro
              </h3>
              <p class="lighter">
                Preencha seu cadastro e veja oportunidades no nosso site
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Abordado pela AIESEC
              </h3>
              <p class="lighter">
                A AIESEC mais próxima de você vai entrar em contato para tirar suas dúvidas e indicar vagas
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Aplicar em vagas
              </h3>
              <p class="lighter">
                Você se candidata às vagas que te interessam
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Ser aprovado na vaga
              </h3>
              <p class="lighter">
                Depois do contato com a AIESEC que vai te receber, você é convidado a fechar a vaga para aquele projeto, mediante o pagamento de uma taxa administrativa
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Se preparar para o intercâmbio
              </h3>
              <p class="lighter">
                Com suporte da AIESEC você se prepara para viajar e fazer um projeto incrível
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Viver a experiência!
              </h3>
              <p class="lighter">
                Agora é só viajar e, com auxílio da AIESEC, viver uma experiência de liderança!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button [ngx-scroll-to]="'#form'" class="with-background bold gv without-border centered">
                Inscreva-se já
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="faq padding-top-and-bottom with-background gv">
    <div class="container">
      <div class="row">
        <div class="faq-info col-lg-7 col-sm-12 col-md-12">
          <h2 class='bold'>
            FAQ - Dúvidas Frequentes
          </h2>
          <div class="row">
            <div class="col-sm-12">
              <h3 class='semibold'>
                Alguém vai me acompanhar durante o intercâmbio?
              </h3>
              <p class='lighter italic'>
                O seu projeto acontecerá com outros intercambistas da AIESEC! Além disso, haverá uma pessoa da cidade para dar suporte ao
                seu projeto.
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold'>
                Preciso de seguro saúde para viajar?
              </h3>
              <p class='lighter italic'>
                Sim, o seguro saúde é obrigatório no seu intercâmbio com a AIESEC, para garantir seu bem-estar durante toda a viagem. Nós
                recomendamos o seguro Assistcard para nossos intercambistas, mas você pode contratar a seguradora que você
                preferir.
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold'>
                Qual o tipo de acomodação que irei ficar?
              </h3>
              <p class='lighter italic'>
                Depende do país que você está se aplicando, você pode ficar hospedado em uma casa de família voluntária, hostel ou apartamento
                com outros intercambistas!
              </p>
            </div>
            <div class="col-sm-12">
              <button [ngx-scroll-to]="'#form'" class="centered without-border bold background-white gv">
                Fale conosco
              </button>
            </div>
          </div>
        </div>
        <div class="faq-image background-default col-lg-5 col-sm-12 col-md-12">
          <div class="round icon circle"></div>
        </div>
      </div>
    </div>
  </section>
  <section class='know-aiesec margin-top-and-bottom'>
    <div class="container">
      <div class="row">
        <div class="aiesec-image background-default col-lg-5 col-sm-12 col-md-12">
          <div class="round icon circle"></div>
        </div>
        <div class="aiesec-info col-lg-7 col-sm-12 col-md-12">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gv"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Auxílio para achar sua vaga
              </h3>
              <p class="lighter lower">
                Ao se inscrever, um voluntário da AIESEC vai te auxiliar a achar a vaga certa para o seu perfil, tirar todas suas dúvidas
                e vai te colocar em contato com o escritório para onde você vai viajar
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gv"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Apoio logístico
              </h3>
              <p class="lighter lower">
                Antes e durante o intercâmbio, a AIESEC na sua cidade e no seu destino irão te auxiliar com a logística de transporte, acomodação
                e preparo para o seu projeto
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gv"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Descrição clara de trabalho
              </h3>
              <p class="lighter lower">
                Independente do tipo de intercâmbio, nossas oportunidades têm descrições claras do tipo de projeto que você vai participar,
                carga horária e as suas responsabilidades. Além disso, você pode conversar com a nossa equipe para esclarecer
                qualquer dúvida.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gv"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker">
                Experiência de Liderança
              </h3>
              <p class="lighter lower">
                Ao longo da sua experiência com a AIESEC, serão oferecidos diversos espaços para você refletir e aprimorar as habilidades
                desenvolvidas no seu intercâmbio, para que você possa retornar e trazer um impacto real para sua cidade.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button [ngx-scroll-to]="'#form'" class="border-radius centered without-border with-background default">
            Fale com um dos nossos representantes
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
<app-landing-footer></app-landing-footer>