<p-growl class="messages" [(value)]="msgs" [life]="5000"></p-growl>
<main>
  <section class="header-product">
    <div class="header-product-image"></div>
    <div class="container">
      <div class="row header-menu">
        <div class="logo-aiesec col-sm-3"></div>
        <div class="menu-product col-sm-8">
          <ul>
            <li>
              Para jovens
            </li>
            <li>
              Para organizações
            </li>
            <li>
              Blog
            </li>
            <li>
              Contatos
            </li>
          </ul>
        </div>
      </div>
      <div class="product-info">
        <h1 class='color-white bold'>
          Voluntário global
        </h1>
        <h2 class='color-white'>
          Voluntário para
          <b>as pessoas.</b>
        </h2>
      </div>
    </div>
  </section>
  <section class="product-description margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="logo-product gv col-sm-5"></div>
        <div class="description col-sm-7">
          <h2 class="bold">
            Visão geral do programa
          </h2>
          <p>
            O Voluntário Global é uma experiência voluntário em ONGS de diversos países. Todos os projetos são vinculados ao Objetivos
            Desenvolvimento Sustentável das Nações Unidas e tem impacto real nas comunidades onde são realizados. Os projetos
            duram a partir de 6 semanas e o único requisito é a vontade de deixar sua marca no mundo!
        </div>
      </div>
    </div>
  </section>
  <!-- Step -->
  <app-form-gv></app-form-gv>

  <section class="product-steps margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="product-image background-default col-sm-5">
          <div class="round icon circle"></div>
        </div>
        <div class="product-steps-content col-sm-6">
          <div class="row">
            <div class="col-sm-2">
              icon
            </div>
            <div class="col-sm-10">
              <h3 class="bold line-height-lower darker">
                Cadastro
              </h3>
              <p class="lighter">
                Preencha seu cadastro e veja oportunidades no nosso site
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              icon
            </div>
            <div class="col-sm-10">
              <h3 class="bold line-height-lower darker">
                Abordado pela AIESEC
              </h3>
              <p class="lighter">
                A AIESEC mais próxima de você vai entrar emc ontato para tirar suas dúvidas e indicar vagas
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              icon
            </div>
            <div class="col-sm-10">
              <h3 class="bold line-height-lower darker">
                Aplicar em vagas
              </h3>
              <p class="lighter">
                Você se candidata às vagas que te interessam
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              icon
            </div>
            <div class="col-sm-10">
              <h3 class="bold line-height-lower darker">
                Ser aprovado na vaga
              </h3>
              <p class="lighter">
                Depois do contato com a AIESEC que vai te receber, você é convidado a fechar a vaga para aquele projeto
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              icon
            </div>
            <div class="col-sm-10">
              <h3 class="bold line-height-lower darker">
                Se preparar para o intercâmbio
              </h3>
              <p class="lighter">
                Com suporte da AIESEC você se prepara para viajar e fazer um projeto incrível
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              icon
            </div>
            <div class="col-sm-10">
              <h3 class="bold line-height-lower darker">
                Viver a experiência!
              </h3>
              <p class="lighter">
                Agora é só viajar e, com auxílio da AIESEC, viver uma experiência de liderança!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="with-background bold gv without-border centered">
                Inscreva-se já
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="faq padding-top-and-bottom with-background gv">
    <div class="container">
      <div class="row">
        <div class="faq-info col-sm-6">
          <h2 class='bold'>
            FAQ - Dúvidas Frequentes
          </h2>
          <div class="row">
            <div class="col-sm-12">
              <h3 class='semibold'>
                Alguém vai me acompanhar durante o intercâmbio?
              </h3>
              <p class='lighter italic'>
                O seu projeto acontecerá com outros intercambistas da AIESEC! Além disso, haverá uma pessoa da cidade para dar suporte ao
                seu projeto.
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold'>
                Precisa de seguro saúde para o período todo do intercâmbio?
              </h3>
              <p class='lighter italic'>
                Sim, só é permitida a realização do intercâmbio com o seguro saúde, para garantir sua asistência médica durante todo o período
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold'>
                Qual o tipo de acomodação que irei ficar?
              </h3>
              <p class='lighter italic'>
                Depende do país que você está se aplicando, você pode ficar hospedado em uma casa de família volunt´ria, hostel ou apartamento
                com outros intercambistas!
              </p>
            </div>
            <div class="col-sm-12">
              <button class="centered without-border bold background-white gv">
                Fale conosco
              </button>
            </div>
          </div>
        </div>
        <div class="faq-image background-default col-sm-5">
          <div class="round icon circle"></div>
        </div>
      </div>
    </div>
  </section>
</main>