<head>
  <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
</head>
<div id="step1" class="form-talentos-globais full-screen">
  <div>
  	<section class="forms" id="form-voluntario-global" class='animated fadeIn'>
		  <div class="container">
		    <div class="row justify-content-center">
		      <div class="col-sm">
		      	<section class="content" id="resultado">
						  <script type="text/javascript">
						   fbq('track', 'Lead');
						  </script>
						  <div class="container">
						    <div class="row justify-content-center">
						      <div class="col-sm">
						        <div class="row justify-content-center">
						          <div class="col-sm-9" id="header-resultado">
						            <h2>Obrigado por se increver!</h2>
						            <h3>Fique ligado no seu e-mail que enviaremos informações úteis para você por lá.</h3>
						          </div>
						          <div class="col-sm-3">
						            <i class="fas fa-thumbs-up fa-10x color-icon"></i>
						          </div>
						        </div>
						        <div class="row justify-content-center">
						          <div class="col-sm-12" id="content-resultado">
						            <p>
						              Agora que você criou a sua conta, você poderá acessar a nossa plataforma e começar a buscar por imersão internacional
						              em startup na data e destino ideal para você! Fique atento ao seu e-mail onde enviaremos mais informações.
						            </p>
						            <button (click)="accessAiesec()" type="button" class="btn btn-primary">Acessar o Portal de Oportunidades</button>
						          </div>
						        </div>
						      </div>
						    </div>
						  </div>
						</section>
		      </div>
		    </div>
		  </div>
		</section>
  </div>
</div>