/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/*--------------------------------------------------------------
	Typography
--------------------------------------------------------------*/
html, body {
    margin:0 ;
    padding: 0;
    overflow-x: hidden;
}

select, option {
    font-style: italic;
    font-size: 11px;
}

@media (max-width: 485px) {
    select, option {
        font-size: 4vw !important;
    }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}