/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/*--------------------------------------------------------------
	Typography
--------------------------------------------------------------*/
html, body {
    margin:0 ;
    padding: 0;
    overflow-x: hidden;
}

select, option {
    font-style: italic;
    font-size: 11px;
}

@media (max-width: 485px) {
    select, option {
        font-size: 4vw !important;
    }
}

.filepond--list-scroller, .filepond--assistant{
  display: none;
}

.filepond-remove-icon{
  width: 17px;
}

.filepond-selected-file{
  margin-left: 10px;
}
